@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-boX;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: 'Poppins', sans-serif;
}

:root {
  --bg-color:rgb(0, 0, 0);
  --secondary-bg-color:yellow;
  --text-color:white;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body{
  background: url(/images/main/group-young-people-training-gym-indoors-maintaining-sportive-lifestyle.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: var(--text-color);
}

.store::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 200vh;
  z-index: 1;
  background: rgba(0, 0 , 0 , 0.6);
}

.sc-container::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 1;
  background: rgba(0, 0 , 0 , 0.6);
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2rem 9%;
  background: transparent;
  opacity: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.logo {
  width: 170px;
}

.logo .first {
  font-size: 2.5rem;
  font-weight: 600;
  color: var(--text-color);
  padding-bottom: 0px;
  margin-bottom: 0px;
  border-bottom: 0px;
}

.logo .second {
  font-size: 1.5rem;
  font-weight: 400;
  color: var(--text-color);
  letter-spacing: 0.7rem;
  padding-top: 0px;
  margin-top: 0px;
  border-top: 0px;
}

.nav-links {
  flex: 1;
  text-align: right;
}

.nav-links ul li {
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}

.nav-links ul li a {
  color: white;
  text-decoration: none;
  font-size: 13px;
}

.nav-links ul li::after {
  content: '';
  width: 0;
  height: 2px;
  background: var(--secondary-bg-color);
  display: block;
  margin: auto;
  transition: 0.5s;
}

.nav-links .active::after {
  width: 100%;
}

.nav-links ul li:hover::after {
  width: 100%;
}


#menu-icon {
  font-size: 3.2rem;
  color: var(--text-color);
  cursor: pointer;
  display: none;
}

#close-icon{
  display: none;
}

/* Home section */

section {
  min-height: 10vh;
  padding: 10rem 9% 2rem;
}

/* .home, .about-h, .about, .sign-up, .services, .contact, .store{
  background: url(/images/main/group-young-people-training-gym-indoors-maintaining-sportive-lifestyle.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
} */

.home-content ,
.btn-box{
  display: flex;
  justify-content: center;
}

.btn-box .btn{
  margin-top: 2rem;
  background: var(--text-color);
  color: black;
  padding: .5rem 2rem;
  border-radius: .8rem;
  font-size: 2rem;
  font-weight: 800;
  z-index: 2;
  width: 25rem;
  height: 40px;
  text-align: center;
}

.btn-box .btn:hover{
  background: var(--secondary-bg-color);
}

/* .store::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 200vh;
  z-index: 1;
  background: rgba(0, 0 , 0 , 0.6);
} */

i {
  z-index: 200;
}

section .store {
  min-height: 10px;
}

.container{
  max-width: 1068px;
  margin: auto;
  width: 100%;
}

.header-2 {
  position: fixed;
  top: 80px;
  left: 0;
  width: 100%;
  box-shadow: 0 1px 4px hsla(0, 0%, 98%, 0.1);
  z-index: 100;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
}

.logo{
  font-size: 2rem;
  color: white;
  font-weight: 600;
}

#cart-icon {
  position: relative;
  font-size: 2rem;
  cursor: pointer;
}

#cart-icon[data-quantitiy]::after{
  content: "";
}

#cart-icon[data-quantitiy]::after{
  content: "";
  position: absolute;
  top: 0;
  right: -12px;
  width: 20px;
  height: 20px;
  background: green;
  border-radius: 50%;
  color: white;
  font-size: 12px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

/* cart */

.cart {
  position: fixed;
  top: 80px;
  right: -100%;
  width: 360px;
  min-height: 100vh;
  padding: 20px;
  background: white;
  box-shadow: -2px 0 4px hsl(0, 4%, 15% / 10%);
  transition: 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
  z-index: 500;
}

.cart.active{
  right: 0;
  transition: 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
  z-index: 500;
}

.cart-title {
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
  margin-top: 0.5rem;
  color: darkblue;
}

.total {
  display: flex;
  justify-content: flex-end;
  margin-top: 1.5rem;
  border-top: 1px solid darkblue;
  font-size: 1rem;
}

.total-title {
  font-size: 1.5rem;
  font-weight: 600;
  margin-top: 1rem;
  color: darkblue;
}

.total-price {
  font-size: 1.5rem;
  margin: 1rem 0 0 0.7rem;
  color: darkblue;
}

.btn-buy {
  display: flex;
  justify-content: center;
  margin: 1.5rem auto 0 auto;
  padding: 12px 20px;
  width: 50%;
  text-align: center;
  border: none;
  border-radius: 2rem;
  background: yellow;
  color: black;
  font-size: 1rem;
  font-style: italic;
  font-weight: 500;
  cursor: pointer;
}

#close-cart {
  position: absolute;
  top: 1rem;
  right: 0.8rem;
  font-size: 2rem;
  color: darkblue;
  cursor: pointer;
}

.cart-content {
  color: black;
}

.cart-box{
  display: grid;
  grid-template-columns: 32% 50% 18%;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
}

.cart-img {
  width: 100px;
  object-fit: contain;
  object-position: center;
  padding: 10px;
}

.detail-box {
  display: grid;
  row-gap: 0.5px;
}

.cart-product-title {
  font-size: 1.5rem;
  font-weight: 500;
  text-transform: uppercase;
}

.cart-price{
  font-weight: 500;
  font-size: 1.3rem;
}

.cart-quantity {
  border: 1px solid darkblue;
  outline-color: darkblue;
  width: 4rem;
  text-align: center;
  font-size: 1.3rem;
  border-radius: 4px;
}

.cart-remove {
  font-size: 24px;
  color: darkblue;
  cursor: pointer;
}

.shop-container{
  padding-top: 3rem;
}

.section-title {
  position: relative;
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
  margin-bottom: 1.8rem;
  margin-top: 2rem;
  z-index: 300;
}

.shop {
  margin-top: 3rem;
}

.product-img {
  height: 220px;
  width: 100%;
  border-radius: 5px;
  margin-bottom: 1rem;
}

.shop-content {
  display: grid;
  grid-template-columns: repeat(auto-fit , minmax(200px, auto));
  gap: 1.5rem;
}

.product-box {
  position: relative;
  background: #2d2e37;
  padding: 10px;
  border-radius: 5px;
  transition: 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
  z-index: 2;
}

.product-box:hover {
  background: rgb(37, 36, 43); 
  border: 1px solid yellow;
  box-shadow: 0 8px 32px hsla(0.75, 0.82, 0.165, 1);
  transition: 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.product-title{
  font-size: 1.5rem;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 2rem;
}

.price {
  font-weight: 500;
  font-size: 1.3rem;
}

.add-cart {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background: yellow;
  color: black;
  padding: 10px;
  font-size: 1.3rem;
  border-radius: 50%;
  cursor: pointer;
}

.add-cart:hover{
  background: rgb(155, 155, 9);
}

.sc-container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sc-container img {
  width: 200px;
  margin: 2rem 0;
  z-index: 2;
}

.sc-container h1 {
  font-size: 4rem;
  margin-bottom: 10px;
  z-index: 2;
}

.sc-container p {
  max-width: 600px;
  font-size: 1.5rem;
  text-align: center;
  margin: 0.5rem 0;
  z-index: 2;
}

/* making responsiveness */

@media (max-width: 1080px) {
  .nav {
    padding: 14px 0;
  }
  section {
    padding: 3rem 0 2rem;
  }
  .container{
    margin: 0 auto;
    width: 90%;
  }
  .shop {
    margin-top: 2rem !important;
  }
}

@media (max-width: 400px) {
  .nav {
    padding: 12px 0;
  }
  .logo{
    font-size: 1rem;
  }
  .cart {
    width: 320px;
  }
}

@media (max-width: 360px) {
  .shop {
    margin-top: 1% !important;
  }
  .cart {
    width: 100%;
  }
}
