@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-boX;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: 'Poppins', sans-serif;
}

:root {
  --bg-color:rgb(0, 0, 0);
  --secondary-bg-color:yellow;
  --text-color:white;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body{
  background: var(--bg-color);
  color: var(--text-color);
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2rem 9%;
  background: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.logo {
  width: 170px;
}

.logo .first {
  font-size: 2.5rem;
  font-weight: 600;
  color: var(--text-color);
  padding-bottom: 0px;
  margin-bottom: 0px;
  border-bottom: 0px;
}

.logo .second {
  font-size: 1.5rem;
  font-weight: 400;
  color: var(--text-color);
  letter-spacing: 0.7rem;
  padding-top: 0px;
  margin-top: 0px;
  border-top: 0px;
}

.nav-links {
  flex: 1;
  text-align: right;
}

.nav-links ul li {
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}

.nav-links ul li a {
  color: white;
  text-decoration: none;
  font-size: 13px;
}

.nav-links ul li::after {
  content: '';
  width: 0;
  height: 2px;
  background: var(--secondary-bg-color);
  display: block;
  margin: auto;
  transition: 0.5s;
}

.nav-links .active::after {
  width: 100%;
}

.nav-links ul li:hover::after {
  width: 100%;
}

#menu-icon {
  font-size: 3.2rem;
  color: var(--text-color);
  cursor: pointer;
  display: none;
}

#close-icon{
  display: none;
}

/* Home section */

section {
  min-height: 100vh;
  padding: 10rem 9% 2rem;
}

.home, .about-h, .about, .sign-up, .services, .contact, .customerDetails, .profile, .workoutDetails{
  background: url(/images/main/group-young-people-training-gym-indoors-maintaining-sportive-lifestyle.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.small {
  color: var(--text-color);
}

.home::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 200vh;
  z-index: 1;
  background: rgba(0, 0 , 0 , 0.6);
}

.home-content ,
.btn-box{
  display: flex;
  justify-content: center;
}

.home-content .small {
  font-size: 4rem;
  letter-spacing: .4rem;
}

.home-content .big{
  font-size: 8rem;
}

.home-content .yellow{
  color: var(--secondary-bg-color);
}

.home-content p {
  padding-top: 65px;
  line-height: 1;
  font-weight: 600;
  z-index: 2;
}

.btn-box .btn{
  margin-top: 0.5rem;
  background: var(--text-color);
  color: black;
  padding: .5rem 2rem;
  border-radius: .8rem;
  font-size: 2rem;
  font-weight: 800;
  z-index: 2;
  width: 30rem;
  height: 100%;
  text-align: center;
}

.btn-box .btn:hover{
  background: var(--secondary-bg-color);
}

.home-sm {
  bottom: 2rem;
  width: 120px;
  display: flex;
  justify-content: space-between;
}

.home-sm a {
  position: relative;
  font-size: 3rem;
  margin: 5rem 0 1rem 0;
  color: white;
  z-index: 2;
}

.home-sm a:hover{
  color: var(--secondary-bg-color);
}

/* about page */

.about .about-p{
  z-index: 2;
  color: var(--text-color);
  position: relative;
}

.about::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 1;
  background: rgba(0, 0 , 0 , 0.6);
}

.about-h .about-p{
  z-index: 3;
  position: relative;
}

/* sign up page */

.sign-up::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 800px;
  z-index: 1;
  background: rgba(0, 0 , 0 , 0.6);
}

.sign-up .sign {
  position: relative;
  border: 2px solid white;
  border-radius: 20px;
  margin: 40px 150px 15px;
  z-index: 2;
  padding-top: 2rem;
  padding-bottom: 2rem;
  opacity: 1rem;
}

.sign-up .sign .signup-topic {
  display: flex;
  justify-content: center;
}

.sign-up .sign .signup-topic a {
  width: 10rem;
}

.sign-up .sign .first {
  z-index: 4;
  justify-content: space-between;
  align-content: center;
}

.sign-up .sign .signup2 {
  color: var(--secondary-bg-color);
  font-size: 6rem;
  padding-left: 1px;
  font-weight: 500;
  height: 5rem;
}

.sign-up .sign .form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sign-up .sign .form .input-box {
  position: relative; 
  width: 30rem;
  height: 40px;
  margin: 30px 0;
}

.input-box input , textarea{
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  border: 2px solid white;
  border-radius: 10px;
  font-size: 16px;
  color: white;
  padding: 20px 40px 20px 20px;
}

.input-box input::placeholder {
  color: white;
}

.input-box i {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
}

.sign-up .sign .form .remember-forgot {
  display: flex;
  justify-content: space-between;
  font-size: 14.5px;
  margin: -15px 0 15px;
  color: white;
}

.remember-forgot label input{
  accent-color: white;
  margin-right: none;
}

.remember-forgot a {
  color: white;
  text-decoration: none;
}

.remember-forgot a:hover {
  text-decoration: underline;
}

.sign-up .sign .form .no-account {
  display: flex;
  font-size: 14.5px;
  margin: -15px 0 15px;
}

.no-account a {
  color: yellow;
  text-decoration: underline;
}

.no-account p {
  padding-right: 5px;
  color: white;
}

.no-account{
  padding-top: 10px;
}

/* log in page */

.log-in::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: rgba(0, 0 , 0 , 0.6);
}

/* service section css */

.services::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 1;
  background: rgba(0, 0 , 0 , 0.6);
}

/* contact section css */

.contact::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 700px;
  z-index: 1;
  background: rgba(0, 0 , 0 , 0.6);
}

.sign-up .sign .signup3 {
  color: var(--secondary-bg-color);
  font-size: 3rem;
  padding-left: 1px;
  font-weight: 500;
  height: 5rem;
}

.input-box textarea{
  width: 100%;
  height: 100px;
  background: transparent;
  border: none;
  outline: none;
  border: 2px solid white;
  border-radius: 20px;
  font-size: 12px;
  color: white;
  padding: 20px 40px 20px 20px;
  margin-bottom: 2px;
}


/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --first-color: hsl(82, 60%, 28%);
  --title-color: hsl(0, 0%, 15%);
  --text2-color: hsl(0, 0%, 35%);
  --body-color: hsl(0, 0%, 95%);
  --container-color: hsl(54.1,100%,50%);

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Poppins", sans-serif;
  --h2-font-size: 5.25rem;
  --small-font-size: 1rem;
}

/*========== Responsive typography ==========*/
@media screen and (min-width: 1120px) {
  :root {
    --h2-font-size: 1.5rem;
    --small-font-size: .875rem;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: var(--body-font);
  background-color: var(--body-color);
  color: var(--text2-color);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.services{
  margin: 0px;
  padding: 0px;
  min-height: 100vh;
}


/*=============== CARD ===============*/
.container {
  display: grid;
  place-items: center;
  margin-inline: 1.5rem;
  padding-block: 5rem;
  z-index: 3;
  position: relative;
}

.content{
  font-size: 30px;
  z-index: 5;
  margin-top: -30px;
  color: var(--text-color);
  padding-top: 50px;
}


.card__container {
  display: grid;
  row-gap: 3.5rem;
}

.card__article {
  position: relative;
  overflow: hidden;
}

.card__img {
  width: 328px;
  border-radius: 2rem;
}

.card__data {
  width: 280px;
  background-color: var(--container-color);
  padding: 1.5rem 2rem;
  box-shadow: 0 8px 24px hsla(0, 0%, 0%, .15);
  border-radius: 1rem;
  position: absolute;
  bottom: -9rem;
  left: 0;
  right: 0;
  margin-inline: auto;
  opacity: 0;
  transition: opacity 1s 1s;
}

.card__description {
  display: block;
  font-size: 1.5rem;
  margin-bottom: .25rem;
}

.card__title {
  font-size: 2.5rem;
  font-weight: 600;
  color: var(--title-color);
  margin-bottom: .55rem;
}

.card__button {
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--first-color);
}

.card__button:hover {
  text-decoration: underline;
}

/* Naming animations in hover */
.card__article:hover .card__data {
  animation: show-data 1s forwards;
  opacity: 1;
  transition: opacity .3s;
}

.card__article:hover {
  animation: remove-overflow 2s forwards;
}

.card__article:not(:hover) {
  animation: show-overflow 2s forwards;
}

.card__article:not(:hover) .card__data {
  animation: remove-data 1s forwards;
}

/* Card animation */
@keyframes show-data {
  50% {
    transform: translateY(-10rem);
  }
  100% {
    transform: translateY(-7rem);
  }
}

@keyframes remove-overflow {
  to {
    overflow: initial;
  }
}

@keyframes remove-data {
  0% {
    transform: translateY(-7rem);
  }
  50% {
    transform: translateY(-10rem);
  }
  100% {
    transform: translateY(.5rem);
  }
}

@keyframes show-overflow {
  0% {
    overflow: initial;
    pointer-events: none;
  }
  50% {
    overflow: hidden;
  }
}

/* -----------------store------------------------ */

.header-2{
  padding: 0px;
  margin: 0px;
}




/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 340px) {
  .container {
    margin-inline: 1rem;
  }

  .card__data {
    width: 250px;
    padding: 1rem;
  }
}

/* For medium devices */
@media screen and (min-width: 768px) {
  .card__container {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1.5rem;
  }
}

/* For large devices */
@media screen and (min-width: 1120px) {
  .container {
    height: 100vh;
  }

  .card__container {
    grid-template-columns: repeat(3, 1fr);
  }
  .card__img {
    width: 348px;
  }
  .card__data {
    width: 316px;
    padding-inline: 2.5rem;
  }
}

/* customer details */
.customerDetails::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 1;
  background: rgba(0, 0 , 0 , 0.6);
}

table {
  position: relative;
  z-index: 2;
  width: 100%;
  font-size: 2rem;
  padding-top: 2rem;
}

table tr th, td{
  color: white;
  z-index: 500;
}

/* admin store */

.card-store, form {
  position: relative;
  z-index: 2;
  margin-bottom: 5rem;
}

.store .form1 {
  width: 00px;
}

.store form .input-box {
  margin-top: 50px;
  margin-bottom: 20px;
  width: 500px;
}

.store form .btn-box {
  width: 100px;
}

.store form label {
  margin: 10px;
  color: white;
}

.store .card-admin {
  position: relative;
  z-index: 2;
  margin-top: 100px;
}

/* ADMINS HOME CSS */

.admin-boxes {
  position: relative;
  z-index: 2;
  display: flex;
  color: white;
  flex-direction: row;
  margin-top: 3rem;
}

.admin-boxes a {
  width: 100%;
  height: 100px;
  text-align: center;
  margin: 10px;
  color: white;
  text-decoration: none;
}

.admin-boxes a:hover {
  text-decoration: none;
}

.admin-box:hover {
  background: rgba(0, 0 , 0 , 0.6);
  color: white;
}

.admin-box h1 {
  padding: 40px;
}

.box1 {
  background-color: red;
}

.box2 {
  background-color: orange;
}

.box3 {
  background-color: green;
}

.box4 {
  background-color: lightseagreen;
}

.box01 {
  background:url(https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEihZY1IIdqV09eckkdGqRznIcSOFFv3UaLY87tEhR7PJIebajiU_VgunPnh0Hlm6pvgZZAfDwXwW5fnPWLoWx9QCJ_BgWabu2PN7xAk9W-r7JhFaZtf5bKgBGfA97f6XoEQa_s-wX1hod99hi6AoBW2k2npSasF2w0zKz7C6xhbA22qfAWii_ZH_oET7FU/s800/c.jpg);
  background-size: cover;
  background-position: center;
}

.box02 {
  background:url(https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEg8ak6ouLCOxv3zbeiNSsi_mc2a7jTiZ313wr2HxtbtkcBk13lLh1KhZCE7MNK1kNij16aGnWhdRWlMXp91bsddToFEyxhj6RTPgSk7npw_1UJ3BI6WiG-G6T3dcoZs3Z5yZ63Tcv6XM0Gx2Zf5LhkSpQd4h4PbdoKdcT5VjqzaEoEpDOyuLj0gEYN52Ic/s320/lo.jpg);
  background-size: cover;
  background-position: center;
}

.box03 {
  background:url(https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEhKDHh5eCr9l-a9BEinjGzRSWQMyod0_1HCuVCBxQv_zQ5dzBtxAOzoId1rKr38saObp_EJLdd8roDGNBOhpJx35tn675cqGYMYMRdFQBlEHNhM6BeER8VhoEGc9SPUeelLqAoJmS-_tgeZWGrD1cAaAb3FdQIcKWVvbYBy_-ZB4uYqJAhSBypXpcn-gHg/s320/mu.jpg);
  background-size: cover;
  background-position: center;
}

.box04 {
  background:url(https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEhCgG4HTkO_sbg4YF1Yosp_eyxvlhVPKkFAkMSGcE6CCrpXo1vKveDyjG19rb6fiBRl4DjTQdRzG5xx1srTvFcSLQWuSRWoOdIb9EOmouN9gZ7da7uPH2giHxD19wLfOI6OffTLg8yRolAa4_DmXJXoWdRs0xs0RjtCs9sNoQe_N9ZMdiUclVllDDYAb_o/s320/a.jpg);
  background-size: cover;
  background-position: center;
}

.adminhome::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 1;
  background: rgba(0, 0 , 0 , 0.6);
}

/* profile page */

.profile::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 150vh;
  z-index: 1;
  background: rgba(0, 0 , 0 , 0.6);
}

.footer{
  background:#000;
  padding:30px 0px;
  font-family: 'Play', sans-serif;
  text-align:center;
  }
  
  .footer .row{
  width:100%;
  margin:1% 0%;
  padding:0.6% 0%;
  color:gray;
  font-size:0.8em;
  }
  
  .footer .row a{
  text-decoration:none;
  color:gray;
  transition:0.5s;
  }
  
  .footer .row a:hover{
  color:#fff;
  }
  
  .footer .row ul{
  width:100%;
  }
  
  .footer .row ul li{
  display:inline-block;
  margin:0px 30px;
  }
  
  .footer .row a i{
  font-size:2em;
  margin:0% 1%;
  }
  
  @media (max-width:720px){
  .footer{
  text-align:left;
  padding:5%;
  }
  .footer .row ul li{
  display:block;
  margin:10px 0px;
  text-align:left;
  }
  .footer .row a i{
  margin:0% 3%;
  }
  }

  /* admin workout */

  .workoutDetails::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 300vh;
    z-index: 1;
    background: rgba(0, 0 , 0 , 0.6);
  }