<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>THRUSH | FITNESS </title>

  <link rel="stylesheet" href="/css/styles.css" type="text/css">
  <link rel="stylesheet" href="/css/store.css">

  <!--box icons-->
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
  
  <!-- Header design -->

  <header class="header">
    <a href="#" class="logo"><p class="first">THRUSH</p><p class="second">FITNESS</p></a>

    <i class='bx bx-menu' id="menu-icon"></i>

    <div class="nav-links" id="navLinks">
      <i class="bx bx-x" id="close-icon" onclick="hideMenu()"></i>

      <ul>
        <li class="active"><a href="/index">HOME</a></li>
        <li><a href="/customerDetails">CUSTOMERS</a></li>
        <li><a href="/adminStore">STORE</a></li>
        <li><a href="/adminWorkout">WORKOUTS</a></li>
        <li><a href="/adminTrainer">TRAINERS</a></li>
        <li><a href="/index">LOGOUT</a></li>
      </ul>
    </div>
  </header>
  <section class="adminhome">
    <div class="admin-boxes">
        <a href="/customerDetails">
            <div class="admin-box box1">
                <h1>CUSTOMERS</h1>
            </div>
        </a>
        <a href="/adminStore">
            <div class="admin-box box2">
                <h1>STORE</h1>
            </div>
        </a>
    </div>
    <div class="admin-boxes">
        <a href="adminWorkout">
            <div class="admin-box box3">
                <h1>WORKOUTS</h1>
            </div>    
        </a>
        <a href="adminTrainer">
            <div class="admin-box box4">
                <h1>TRAINERS</h1>
            </div>
        </a>
    </div>
    

  </section>
</body>
</html>