<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Unsuccess Payment</title>
    <link rel="stylesheet" href="/css/store.css">
</head>
<body>
    <div class="sc-container">
        <h1>Payment Unsuccesfull.</h1>
        <p>Something went wrong. We apologize for inconveniance, but an error occurred while processing your order request</p>
        <img src="images/unsuccess.png" alt="">
        <div class="btn-box">
            <a href="#" class="btn">Back to Homepage</a>
        </div>
    </div>
    
</body>
</html>