<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>THRUSH | FITNESS </title>

  <link rel="stylesheet" href="/css/workout.css">

  <!--box icons-->
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>



  <!-- Header design -->

  <header class="header">
   <a href="#" class="logo"><p class="first">THRUSH</p><p class="second">FITNESS</p></a>

   <i class='bx bx-menu' id="menu-icon"></i>

   <div class="nav-links" id="navLinks">
     <i class="bx bx-x" id="close-icon" onclick="hideMenu()"></i>

     <ul>
       <li><a href="/loginIndex">HOME</a></li>
       <li><a href="/loginAbout">ABOUT</a></li>
       <li class="active"><a href="/loginServices">SERVICES</a></li>
       <li><a href="/profile">PROFILE</a></li>       
       <li><a href="/index">LOG OUT</a></li>
     </ul>
   </div>
 </header>

 

  



  <!---------------------------------------------------------------------------------------->
  <!-- Services section design-->

  <body style="background-image: url(images/background.jpg); 
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  ">


    <section class="workout">
      <div class="container-w">
         <div class="content-w">
            <h1>WEIGHT LOSE</h1>
           </div>
          <div class="card-container">
             <article class="card__article">
                <img src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEihZY1IIdqV09eckkdGqRznIcSOFFv3UaLY87tEhR7PJIebajiU_VgunPnh0Hlm6pvgZZAfDwXwW5fnPWLoWx9QCJ_BgWabu2PN7xAk9W-r7JhFaZtf5bKgBGfA97f6XoEQa_s-wX1hod99hi6AoBW2k2npSasF2w0zKz7C6xhbA22qfAWii_ZH_oET7FU/s800/c.jpg" alt="image" class="card-img">
      
                <div class="card__data">
                   <h1 class="card-title">Cardio</h1>
                   <span class="card-description"> </span>
                   <a href="/cardioplanes" class="card-button">View Schedule</a>
                </div>
             </article>
      
             <article class="card__article">
                <img src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEhCgG4HTkO_sbg4YF1Yosp_eyxvlhVPKkFAkMSGcE6CCrpXo1vKveDyjG19rb6fiBRl4DjTQdRzG5xx1srTvFcSLQWuSRWoOdIb9EOmouN9gZ7da7uPH2giHxD19wLfOI6OffTLg8yRolAa4_DmXJXoWdRs0xs0RjtCs9sNoQe_N9ZMdiUclVllDDYAb_o/s320/a.jpg" alt="image" class="card-img">
      
                <div class="card__data">
                   <span class="card-sdescription"></span>
                   <h2 class="card-title">ABS</h2>
                   <a href="/abs" class="card-button">View Schedule</a>
                </div>
             </article>
      

          </div>
       </div>
      
    </section>
  

</body>

</html>