<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>THRUSH | FITNESS </title>

  <link rel="stylesheet" href="/css/styles.css" type="text/css">

  <!--box icons-->
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
  
  <!-- Header design -->

  <header class="header">
    <a href="#" class="logo"><p class="first">THRUSH</p><p class="second">FITNESS</p></a>

    <i class='bx bx-menu' id="menu-icon"></i>

    <div class="nav-links" id="navLinks">
      <i class="bx bx-x" id="close-icon" onclick="hideMenu()"></i>

      <ul>
        <li><a href="/index">HOME</a></li>
        <li><a href="/about">ABOUT</a></li>
        <li  class="active"><a href="/services">SERVICES</a></li>
        <li><a href="/profile">PROFILE</a></li>
        <li><a href="/index">LOG OUT</a></li>
      </ul>
    </div>
  </header>

  <!---------------------------------------------------------------------------------------->
  <!-- Home section design-->

  <section class="home">
    
  </section>
</body>
</html>