<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>THRUSH | FITNESS </title>

  <link rel="stylesheet" href="/css/styles.css">

  <!--box icons-->
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
  
  <!-- Header design -->

  <header class="header">
    <a href="#" class="logo"><p class="first">THRUSH</p><p class="second">FITNESS</p></a>

    <i class='bx bx-menu' id="menu-icon"></i>

    <div class="nav-links" id="navLinks">
      <i class="bx bx-x" id="close-icon" onclick="hideMenu()"></i>

      <ul>
        <li><a href="/index.html">HOME</a></li>
        <li><a href="/about.html">ABOUT</a></li>
        <li><a href="/services.html">SERVICES</a></li>
        <li class="active"><a href="/contact.html">CONTACT</a></li>
        <li><a href="/login.html">LOG IN</a></li>
        <li><a href="/signup.html">REGISTER</a></li>
      </ul>
    </div>
  </header>

  <!---------------------------------------------------------------------------------------->
  <!-- Home section design-->

  <section class="sign-up contact">
    <div class="sign">
      <div class="signup-topic">
        <a href="#" class="logo"><p class="first">THRUSH</p><p class="second">FITNESS</p></a>
        <p class="signup3">CONTACT US</p>
      </div>
      
      <div class="form">
        <form action="https://api.web3forms.com/submit" method="POST">
          
          <input type="hidden" name="access_key" value="338c831b-f278-488f-b745-14ea3b859c56">
          <div class="input-box">
            <input type="text" name="Name" id="name" placeholder="Name" required>
          </div>

          <div class="input-box">
            <input type="text" name="Phone" id="phone" placeholder="Phone" required></i>
          </div>
          
          <div class="input-box">
            <input type="email" name="Email" id="email" placeholder="Email" required>
            <i class="bx bxs-user"></i>
          </div>
          
          <div class="input-box">
            <textarea name="message" id="message" rows="4" placeholder="How can we help you?"></textarea>
          </div>

          <div class="btn-box">
            <button type="submit" class="btn">Send</button>
          </div>
        </form>
      </div>
    </div>
  </section>
</body>
</html>