<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>THRUSH | FITNESS </title>

  <link rel="stylesheet" href="/css/styles.css" type="text/css">

  <!--box icons-->
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
  
  <!-- Header design -->

  <header class="header">
    <a href="#" class="logo"><p class="first">THRUSH</p><p class="second">FITNESS</p></a>

    <i class='bx bx-menu' id="menu-icon"></i>

    <div class="nav-links" id="navLinks">
      <i class="bx bx-x" id="close-icon" onclick="hideMenu()"></i>

      <ul>
        <li class="active"><a href="/index">HOME</a></li>
        <li><a href="/about">ABOUT</a></li>
        <li><a href="/services">SERVICES</a></li>
        <li><a href="/contact">CONTACT</a></li>
        <li><a href="/loginOption">LOG IN</a></li>
        <li><a href="/signup">REGISTER</a></li>
      </ul>
    </div>
  </header>

  <!---------------------------------------------------------------------------------------->
  <!-- Home section design-->

  <section class="home">
    <div class="home-content">
      <p><span class="small">GET YOUR</span><br>
      <span class="yellow big">BODY</span><br>
      <span class="small">IN <span class="yellow">PERFECT</span></span><br>
      <span class="yellow big">SHAPE</span></p>
    </div>

    <div class="btn-box">
      <a href="/loginOption" class="btn">ENROLL NOW</a>
    </div>

    <div class="home-sm">
      <a href="#"><i class='bx bxl-facebook'></i></a>
      <a href="#"><i class='bx bxl-instagram' ></i></a>
      <a href="#"><i class='bx bxl-twitter'></i></a>
    </div>
  </section>

  <section class="about-h">
    <div class="home-content ">
      <div class="image"> </div>
      <p><span class="small ">GET YOUR</span>
        <span class="yellow small">BODY</span><br>
        <span class="small">IN <span class="yellow">PERFECT</span></span>
        <span class="yellow small">SHAPE</span>
    </div><br><br><br>

    <p class="about-p" style="color: ghostwhite; font-size: 20px; padding-left: 400px;">Exercising regularly, every day if possible, <br>is the single most important thing you can do for your health. <br>
       In the short term, exercise helps to control appetite, boost mood, and improve sleep. <br>
       In the long term, it reduces the risk of heart disease, <br>stroke, diabetes, dementia, depression, and many cancers.</p>



  </section>
</body>
</html>