<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>THRUSH FITNESS | SIGN UP</title>

  <link rel="stylesheet" href="/css/styles.css">

  <!--box icons-->
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
  <!-- Header design -->

  <header class="header">
    <a href="#" class="logo"><p class="first">THRUSH</p><p class="second">FITNESS</p></a>

    <i class='bx bx-menu' id="menu-icon"></i>

    <div class="nav-links" id="navLinks">
      <i class="bx bx-x" onclick="hideMenu()"></i>

      <ul>
        <li><a href="/index">HOME</a></li>
        <li><a href="/about">ABOUT</a></li>
        <li><a href="/services">SERVICES</a></li>
        <li><a href="/contact">CONTACT</a></li>
        <li class="active"><a href="/loginOption">LOG IN</a></li>
        <li><a href="/signup">REGISTER</a></li>
      </ul>
    </div>
  </header>

  <!---------------------------------------------------------------------------------------->
  <!-- Home section design-->

  <section class="sign-up log-in">
    <div class="sign">
      <div class="signup-topic">
        <a href="#" class="logo"><p class="first">THRUSH</p><p class="second">FITNESS</p></a>
        <p class="signup2">LOG IN</p>
      </div>
      
      <div class="form" style="margin-top: 50px; margin-bottom:40px">
        <form action="/login" method="post">
          

          <div class="btn-box" style="margin-bottom: 20px;">
            <a href="/login" class="btn">Log in as a user</a>
          </div>

          <div class="btn-box">
            <a href="/adminLogin" class="btn">Log in as a Admin</a>
          </div>
          
        </form>
      </div>
      
    </div>

    
  </section>
</body>
</html>