<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>THRUSH | FITNESS </title>

  <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<!--GOOGLE FONTS-->
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Fredoka+One&family=Play&display=swap" rel="stylesheet">

  <!--box icons-->
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>

<body>

  <!-- Header design -->

  <header class="header">
   <a href="#" class="logo"><p class="first">THRUSH</p><p class="second">FITNESS</p></a>

   <i class='bx bx-menu' id="menu-icon"></i>

   <div class="nav-links" id="navLinks">
     <i class="bx bx-x" id="close-icon" onclick="hideMenu()"></i>

     <ul>
       <li><a href="/index">HOME</a></li>
       <li><a href="/about">ABOUT</a></li>
       <li class="active"><a href="/services">SERVICES</a></li>
       <li><a href="/contact">CONTACT</a></li>
       <li><a href="/loginOption">LOG IN</a></li>
       <li><a href="/signup">REGISTER</a></li>
     </ul>
   </div>
 </header>

 

  



  <!---------------------------------------------------------------------------------------->
  <!-- Services section design-->


 <section class="services">
   <div class="container">
      <div class="content">
         <h1>OUR SERVICES</h1>
        </div>
       
      
      
       <div class="card__container">
          <article class="card__article">
             <img 
               src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEhqMqf6DORD6LcdVLDQA3lZWpWZfSQu2i4xQtTfx4Q9IpjfW48QhJsc8C0rI4_XY9dtQYqp-JMSqQ-Oj2Y5MQz_IIn8rwEORru75A8KauuvaXEFYya2p4qND-r8uXvvWxopVM5JiEozGoa3r70nI2RN_yS6-yueoKsvxlN_OhdR94H46Qrk4bxhRGf58ow/s320/workout.jpg" 
               alt="image" 
               class="card__img"
             />
   
             <div class="card__data">
                <span class="card__description">THRUSH | FITNESS</span>
                <h1 class="card__title">WORKOUT PLANS</h1>
                <a href="login" class="card__button">View Plans</a>
             </div>
          </article>
   
          <article class="card__article">
             <img 
               src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEiM-S1jOV8Tu30D3gWZTvNxHtYMKFiON8vi_9QSgCO9c8AOhG2Rx33rItjx1okbVF9etAa8ok1rT_ThmwVnDNNOAvgXMB57sywV3klNxxxZsyV2RozZLrob_AiIwL5BC5Z9KNgcEo-kiv3mA-byEVnnVusj7uSRofeov4HxluWUWO_SzATFkb3vXLYC3_w/s320/coaching.jpg" 
               alt="image" 
               class="card__img"
             />
   
             <div class="card__data">
                <span class="card__description">THRUSH | FITNESS</span>
                <h2 class="card__title">PERSONAL COACHING</h2>
                <a href="login" class="card__button">View Details</a>
             </div>
          </article>
   
          <article class="card__article">
             <img 
               src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEhebpchybAhi1LUYxPAwmzKRJLWsVWeeI3m263mtILAEGnxQuw9acRbiN4B0TGHnj44RvPSO7tAbjZlyDFzx4cdjH-RagU8Qzk3UpMvz9pV0cfrQsMPSSQ-166vlbfsvfWTy0DEGZYMhBdhBYdOWS-8bKqQVTGB9bchnMG7jY2u7qIvsaU3pP3Saiu0Hd4/s320/store.jpg" 
               alt="image" 
               class="card__img"
             />
   
             <div class="card__data">
                <span class="card__description">THRUSH | FITNESS</span>
                <h2 class="card__title">ONLINE STORE</h2>
                <a href="store" class="card__button">View Store</a>
             </div>
          </article>
       </div>
    </div>
   
 </section>
  <footer>
<div class="footer">
<div class="row">
<a href="#"><i class="fa fa-facebook"></i></a>
<a href="#"><i class="fa fa-instagram"></i></a>
<a href="#"><i class="fa fa-youtube"></i></a>
<a href="#"><i class="fa fa-twitter"></i></a>
</div>

<div class="row">
<ul>
<li><a href="/contact">Contact us</a></li>
<li><a href="/services">Our Services</a></li>
<li><a href="/store">Store</a></li>
<li><a href="#">Terms & Conditions</a></li>
</ul>
</div>

<div class="row"> Copyright ©  All rights reserved || Designed By: Group 11
</div>
</div>
</footer>

</body>

</html>