<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>THRUSH FITNESS | SIGN UP</title>

  <link rel="stylesheet" href="/css/styles.css">

  <!--box icons-->
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<!--GOOGLE FONTS-->
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Fredoka+One&family=Play&display=swap" rel="stylesheet">
</head>
<body>
  <!-- Header design -->

  <header class="header">
    <a href="#" class="logo"><p class="first">THRUSH</p><p class="second">FITNESS</p></a>

    <i class='bx bx-menu' id="menu-icon"></i>

    <div class="nav-links" id="navLinks">
      <i class="bx bx-x" onclick="hideMenu()"></i>

      <ul>
        <li><a href="/index">HOME</a></li>
        <li><a href="/about">ABOUT</a></li>
        <li><a href="/services">SERVICES</a></li>
        <li><a href="/contact">CONTACT</a></li>
        <li><a href="/loginOption">LOG IN</a></li>
        <li class="active"><a href="/signup">REGISTER</a></li>
      </ul>
    </div>
  </header>

  <!---------------------------------------------------------------------------------------->
  <!-- Home section design-->

  <section class="sign-up">
    <div class="sign">
      <div class="signup-topic">
        <a href="#" class="logo"><p class="first">THRUSH</p><p class="second">FITNESS</p></a>
        <p class="signup2">SIGN UP</p>
      </div>
      
      <div class="form">
        <form action="/signup" method="post">
          
          <div class="input-box">
            <input type="email" name="email" placeholder="Email" required>
            <i class="bx bxs-user"></i>
          </div>

          <div class="input-box">
            <input type="password" name="password1" placeholder="Password" required>
            <i class="bx bxs-lock-alt"></i>
          </div>

          <div class="input-box">
            <input type="password" name="password2" placeholder="Re-enter Password" required>
            <i class="bx bxs-lock-alt"></i>
          </div>
  
          <div class="btn-box">
            <button type="submit" class="btn">Next</button>
          </div>
        </form>
      </div>
      
    </div>

    
  </section>
  <footer>
<div class="footer">
<div class="row">
<a href="#"><i class="fa fa-facebook"></i></a>
<a href="#"><i class="fa fa-instagram"></i></a>
<a href="#"><i class="fa fa-youtube"></i></a>
<a href="#"><i class="fa fa-twitter"></i></a>
</div>

<div class="row">
<ul>
<li><a href="/contact">Contact us</a></li>
<li><a href="/services">Our Services</a></li>
<li><a href="/store">Store</a></li>
<li><a href="#">Terms & Conditions</a></li>
</ul>
</div>

<div class="row"> Copyright ©  All rights reserved || Designed By: Group 11
</div>
</div>
</footer>
</body>
</html>