<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/store.css">
    <title>Online Store</title>
      <!--box icons-->
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <header class="header">
        <a href="#" class="logo"><p class="first">THRUSH</p><p class="second">FITNESS</p></a>
     
        <i class='bx bx-menu' id="menu-icon"></i>
     
        <div class="nav-links" id="navLinks">
          <i class="bx bx-x" id="close-icon" onclick="hideMenu()"></i>
     
          <ul>
            <li><a href="/index">HOME</a></li>
            <li><a href="/about">ABOUT</a></li>
            <li class="active"><a href="/services">SERVICES</a></li>
            <li><a href="/contact">CONTACT</a></li>
            <li><a href="/login">LOG IN</a></li>
            <li><a href="/signup">REGISTER</a></li>
            
          </ul>
        </div>
        
      </header>
    


      <!-- -------------------------------------------- -->

    <section class="store">
        <header class="header-2">
            <div class="nav container">
              <a href="#" class="logo">Store</a>
              <!-- cart icon -->
              <i class='bx bxs-shopping-bag' id="cart-icon" data-quantitiy="0"></i>

              {{!-- cart --}}

              <div class="cart">
                <h2 class="cart-title">Your Cart</h2>
                {{!-- content --}}
                <div class="cart-content"></div>

                {{!-- total --}}
                <div class="total">
                  <div class="total-title">Total</div>
                  <div class="total-price">$0</div>
                </div>

                {{!-- buy button --}}
                <button type="button" class="btn-buy">Pay Now</button>
                <i class="bx bx-x" id="close-cart"></i>
              </div>
            </div>
        </header>    
    
        
    </section>
</body>
</html>