<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/store.css">
    <title>Online Store</title>
      <!--box icons-->
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <header class="header">
        <a href="#" class="logo"><p class="first">THRUSH</p><p class="second">FITNESS</p></a>
     
        <i class='bx bx-menu' id="menu-icon"></i>
     
        <div class="nav-links" id="navLinks">
          <i class="bx bx-x" id="close-icon" onclick="hideMenu()"></i>
     
          <ul>
            <li><a href="/index">HOME</a></li>
            <li><a href="/about">ABOUT</a></li>
            <li class="active"><a href="/services">SERVICES</a></li>
            <li><a href="/contact">CONTACT</a></li>
            <li><a href="/login">LOG IN</a></li>
            <li><a href="/signup">REGISTER</a></li>
            
          </ul>
        </div>
        
      </header>
    


      <!-- -------------------------------------------- -->

    <section class="store">
        <header class="header-2">
            <div class="nav container">
              <a href="#" class="logo">Store</a>
              <!-- cart icon -->
              <i class='bx bxs-shopping-bag' id="cart-icon" data-quantitiy="0"></i>

              {{!-- cart --}}

              <div class="cart">
                <h2 class="cart-title">Your Cart</h2>
                {{!-- content --}}
                <div class="cart-content">
                  <div class="cart-box">
                    <img src="/images/Onine store/Dymatize Iso 100.jpeg" alt="" class="cart-img">
                    <div class="detail-box">
                      <div class="cart-product-title">Dymatize Iso 100</div>
                      <div class="cart-price">$50</div>
                      <input 
                        type="number"
                        name=""
                        id=""
                        value="1"
                        class="cart-quantity"
                      />
                    </div>
                    {{!-- remove item --}}
                    <i class="bx bx-trash-alt cart-remove"></i>
                  </div>
                </div>

                {{!-- total --}}
                <div class="total">
                  <div class="total-title">Total</div>
                  <div class="total-price">$0</div>
                </div>

                {{!-- buy button --}}
                <button type="button" class="btn-buy">Pay Now</button>
                <i class="bx bx-x" id="close-cart"></i>
              </div>
            </div>
        </header>    

    
        
    </section>

    {{!-- products --}}
    <section class="shop-container">
      <h2 class="section-title">Shop Products</h2>
      {{!-- shop content --}}
      <div class="shop-content">
        {{!-- box 1 --}}
        <div class="product-box">
          <img 
            src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEjsAaY2wQ0JPQBLOxceUgi86SKOzqmF8h0WM7skJrcWJ-y_gy22VPKwzttJ9YojL84jsr1H_iXMW05N_1uWQk5ImYjSfgtVjgYxkQO3xljcJ-R01_Okfk4YMJPGRrBoQEzXMZucWQWn7Dr-UExapwjCfSKEIqKrphDX7FhGvpit5kr8VrN6dQIQJa7ljGY/s1600/Dymatize%20Iso%20100.jpeg" 
            alt="" 
            class="product-img"
          />
          <h2 class="product-title">Dymatize Iso 100</h2>
          <span class="price">$50</span>
          <i class="bx bx-shopping-bag add-cart"></i>
        </div>

        {{!-- box 2 --}}
        <div class="product-box">
          <img 
            src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEgdNnqA3dMNGOrjtZB6YE6SyOFXyoRxnGUcCTlgec1ucmuWmEKwErPRbxiLdRfouX4sPnxBsJHag-xFzk_P4NWqvK9L-yDBPzjfxbxA7V32skvWT5k8VfNnIkSiu7nVIzopKKWShD_V39SmfeUvCAmp2qA7Y-M18RXD3jDwutm8bTJO7qEpZVWiNA2B-ZQ/s320/EVOFUSION.jpeg" 
            alt="" 
            class="product-img"
          />
          <h2 class="product-title">EVOFUSION</h2>
          <span class="price">$50</span>
          <i class="bx bx-shopping-bag add-cart"></i>
        </div>

        {{!-- box 3 --}}
        <div class="product-box">
          <img 
            src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEjfI2jeHLEDX70CyXVlyEMYN53MZR7ZiHDcPVZxXv-iUQjOQ8zOM34Uah7klNgWApizKWs4cfxXP64ZL_EuiHfYUg7ZsBVcQqMcI4w1odYkNQhO4Et1mmrgRn73RrygwPF7M9pqIWWLFOOvbDlaTKq1yqufHsRYYtncYeXy4fFuWLLQPBqGq9TOj1N4NF8/s320/EVP%20EXTREME%20N.O..jpg" 
            alt="" 
            class="product-img"
          />
          <h2 class="product-title">EVP EXTREME N.O</h2>
          <span class="price">$50</span>
          <i class="bx bx-shopping-bag add-cart"></i>
        </div>

        {{!-- box 4 --}}
        <div class="product-box">
          <img 
            src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEii5MTxm887F-rDaJR9mXZbKgvL_0Gl9oSINRfCExl5R1KM99jE84-jnv62UUHVAz1mCxTIeSMdacqUXnjLnrfqeFxFq9bptWSLRjDBadSZ_573DNz4Lv2Qf0qDRclRcnu09HVsGaWoV32OVZVUtnfjcoEUziC-1MPodbBuLenNTD_zvrG_z9wISu35T-w/s320/EVP-3D.jpeg" 
            alt="" 
            class="product-img"
          />
          <h2 class="product-title">EVP-3D</h2>
          <span class="price">$50</span>
          <i class="bx bx-shopping-bag add-cart"></i>
        </div>

        {{!-- box 5 --}}
        <div class="product-box">
          <img 
            src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEioDBz3yQzXTljHv1lc6Ey1CDR2O_FGX4KpfLj0k8cpGkD5b2PHnzBeXHBUYEcQYTZKu18NZwdqxOgsLNMLHBv0OspxF2OmkDcPUgH6SB05u_Nl_b2Cm9L7J6EjGdmmJXGzq_0mq_ZD6ByYXG18OGcnpmrH9KZBPpbZbzBVtxqx3F3g61S5qibj12aKKuk/s1600/Gold%20Standard%20Whey.jpeg" 
            alt="" 
            class="product-img"
          />
          <h2 class="product-title">Gold Standard Whey</h2>
          <span class="price">$50</span>
          <i class="bx bx-shopping-bag add-cart"></i>
        </div>

        {{!-- box 6 --}}
        <div class="product-box">
          <img 
            src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEjEvPVFnIfd4Is6OjEHOGMbaIMz-WgXItzfy80HxgM0H3MrQS7cLL0B_iooflCwFo53qgjKdEwEhs5TjDXOALcN4mC7rTSWtiRxXr0EziReIYouuTffxLr_Uc1SuRxRnULVT5gJ_FVOj78FZRuj1IvOas5Zi5ktzLwCsoea80JCbSEE8ZCQXa_5HbCa_a8/s320/ISOJECT%20PURE%20WHEY%20ISOLATE.jpeg" 
            alt="" 
            class="product-img"
          />
          <h2 class="product-title">ISOJECT PURE WHEY ISOLATE</h2>
          <span class="price">$50</span>
          <i class="bx bx-shopping-bag add-cart"></i>
        </div>

        {{!-- box 7 --}}
        <div class="product-box">
          <img 
            src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEgh28iY5bYOtTn7s6IL41o41gmtF_y3QyH7Yz3vghzEI9oPYfqRIwZe0rXtTE70o3wSrM9Oj26hF8r3qeMyneum262i_JRcb0qE8dDxinqn-nweyW_9rmgPkWhjJPaVk6HAxJMFO1P49kATS1VtYxY_4EMWpeYswLHj59vFO2kdhXAk-bS83sDwcldgAdY/s1600/Lipo%206%20Black%20Ultra%20Concentrate.jpeg" 
            alt="" 
            class="product-img"
          />
          <h2 class="product-title">Lipo 6 Black Ultra Concentrate</h2>
          <span class="price">$50</span>
          <i class="bx bx-shopping-bag add-cart"></i>
        </div>

        {{!-- box 8 --}}
        <div class="product-box">
          <img 
            src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEiOXKuAVVPTwHJ3s66AJB6LnJJWRtRKDGcVinYFPesyZ5D6BDsba5iAeDrpTbcuj1t3iwGPLkymAvECIOyPChSiW2hIAy8nBjrjhoiN7DkNf83gJzk_Fo_k55ilUqAj11lQ7lsQMI8vkDRDau6JywUBZiEpUW06nAziyJoQ8Bs4guMiXl3zwMHzBX4rdtY/s1600/N.O.%20Xplode.jpeg" 
            alt="" 
            class="product-img"
          />
          <h2 class="product-title">N.O. Xplode</h2>
          <span class="price">$50</span>
          <i class="bx bx-shopping-bag add-cart"></i>
        </div>

        {{!-- box 9 --}}
        <div class="product-box">
          <img 
            src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEiVxzQGDcUOp3lk4BWONP2l_yXETMVp_JMJl2do__Uj2RQj6sRyBmWekwj-em2meq_ZUA0LOArvDQQ1VXWC20xJq9_QmHDpz3zDgeiZ_T_eD1mVdfQ2cPDdU_wTPXrVu4PHWNojE-kOPAmDeH99YoitaYUv-3Yr7Yyv-E4qMF4bC2WgoaeZDecv7-gR7E0/s1600/Nitro-Tech%20Ripped.jpeg" 
            alt="" 
            class="product-img"
          />
          <h2 class="product-title">Nitro-Tech Ripped</h2>
          <span class="price">$50</span>
          <i class="bx bx-shopping-bag add-cart"></i>
        </div>
  
        {{!-- box 11 --}}
        <div class="product-box">
          <img 
            src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEh3uw-tnpJh-Fig9vmjxqW_CzprN4Vs_rawLRTbzLawkQlP7BX336_wi7yHgr4ZFf7IR8IAJrdJo5E3_L5at5whSR2ydKQElSmQHB1-A4Hy79Xr1ij4XRgFEUanotKhqx1KZQiOsLhgaQTt4_owy4vOdisvWr0HK4NaGDV1UTvcWarg0lAWBtn45XROQiM/s320/YEAH%20BUDDY.jpeg" 
            alt="" 
            class="product-img"
          />
          <h2 class="product-title">SERIOUS MASS</h2>
          <span class="price">$50</span>
          <i class="bx bx-shopping-bag add-cart"></i>
        </div>

        {{!-- box 12 --}}
        <div class="product-box">
          <img 
            src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEh3uw-tnpJh-Fig9vmjxqW_CzprN4Vs_rawLRTbzLawkQlP7BX336_wi7yHgr4ZFf7IR8IAJrdJo5E3_L5at5whSR2ydKQElSmQHB1-A4Hy79Xr1ij4XRgFEUanotKhqx1KZQiOsLhgaQTt4_owy4vOdisvWr0HK4NaGDV1UTvcWarg0lAWBtn45XROQiM/s320/YEAH%20BUDDY.jpeg" 
            alt="" 
            class="product-img"
          />
          <h2 class="product-title">YEAH BUDDY</h2>
          <span class="price">$50</span>
          <i class="bx bx-shopping-bag add-cart"></i>
        </div>

    <script>
      //cart 0pen close
      let cartIcon = document.querySelector("#cart-icon");
      let cart = document.querySelector(".cart");
      let closeCart = document.querySelector("#close-cart");

      //open cart

      cartIcon.onclick = () => {
          cart.classList.add("active");
      };

      //closs cart

      closeCart.onclick = () => {
          cart.classList.remove("active");
      };
    </script>
</body>
</html>