<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Success Payment</title>
    <link rel="stylesheet" href="/css/store.css">
</head>
<body>
    <div class="sc-container">
        <h1>Payment Succesfull.</h1>
        <p>Your order will arive in 2 working days.</p>
        <img src="images/success.png" alt="">
        <div class="btn-box">
            <a href="#" class="btn">Back to Homepage</a>
        </div>
    </div>
    
</body>
</html>